body {
    background-color:papayawhip;
}
a {
    color: gold;
    text-align:center;
    background-color:white;
    border: 1px black solid ;
    padding: 2px;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;   
}
a:hover {
    color: black;
}
/* .back-home{
    position: fixed;
} */ 
 button {
    font-family: cursive, Helvetica, sans-serif;
    width: 100px;
    display: block;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    
 }
 .titles {
    font-family: cursive, Helvetica, sans-serif;
    font-weight: lighter;
    size: 48px;
    text-align: center; 
    color: black;
  
  }
  table {
    font-family: cursive, Helvetica, sans-serif;
    padding: 100px;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(237, 188, 65);

  }
  th, td{
    padding: 4px;
    border: 1px black solid; 
    text-align: center;
  }


  img {
    padding: 10px;
    margin-bottom: 100px;
  }
  #contact-us {
    text-align: left;
    color: rgb(0, 0, 0);
    border: 2px black dotted;
    background-color: rgb(237, 188, 65);
    display: block;
    padding: 20px;
  }
   #welcome-pic {
    display: block;
    margin: auto;
    padding: 10px;
   }
   #my-cats {
    display: block;
    margin: auto;
    padding: 10px;
   }

   .paragraphs {
    font-family: cursive, Helvetica, sans-serif;
    font-weight: lighter;
    size: 24px;
    text-align: center; 
    color: black;
   }

   /* #req-contact {
    margin: auto;

   } */

   #search-yt {
    display: block;
    margin-left: 25% auto;
    padding: 5px;
   }

   .container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
   }

   .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 44%;
    padding: 10px;
    background-color: blue;
   }

   .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 44%;
    padding: 10px;
    background-color: red;

   }
   .upper {
    height: 50%;
    width: 100%;
    background-color: green;
   }

.lower {
  height: 50%;
  width: 100%;
  background-color: yellow;
}

/* grid practice 30.1.25 */  

.new-con {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  /* grid-template-rows: 100px 20px 100px 100px 20px; */
  grid-template-columns: 4fr 1fr 4fr 4fr 1fr;
  gap: 10px;
  height: 100vh;
  background-color: blue;
 }
.item {
  background-color:red;
  padding: 10px;
}
.item-1 {
  background-color:red;
  padding: 10px;
  grid-column: 2 / -1;
}
.item-2 {
  background-color:red;
  padding: 10px;
  grid-column: 2 / -1;
}
.item-3 {
  background-color:red;
  padding: 10px;
  grid-column: 2 / -1;
}
.item-4 {
  background-color:red;
  padding: 10px;
  grid-column: 2 / -1;
}
.item-5 {
  background-color:red;
  padding: 10px;
  grid-column: 2 / -1;
}
.item-6 {
  background-color:red;
  padding: 10px;
  grid-column: 2 / -1;
}
.item-7 {
  background-color:red;
  padding: 10px;
  grid-column: 2 / -1;
}
.item-8 {
  background-color:red;
  padding: 10px;
  grid-column: 1 / -1;
}